/*以下共通項目*/
* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: -apple-system, blinkMacSystemFont,
               'Helvetica Neue',
               'Segoe UI',
               YuGothicM,
               YuGothic,
               Meiryo,
               sans-serif;
}

/* Windows */
@font-face {
  font-family: YuGothicM;
  font-weight: normal;
  src: local('YuGothic-Medium'),
       local('Yu Gothic Medium'),
       local('YuGothic-Regular');
}
@font-face {
  font-family: YuGothicM;
  font-weight: bold;
  src: local('YoGothic-Bold'),
       local('Yu Gothic');
}

.container {
  max-width: 1360px;
  width: 100%;
  padding: 0 3%;
  margin: 0 auto;
}

.btn {
    display: inline-block;
    padding: 15px 25px;
    margin: 30px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    transition: all .3s;
    border-radius: 5px;
    background-color: #fff;
    color: #2d2d2d;
}

.section-title {
  padding-top: 80px;
  padding-bottom: 50px
}

.message-ttl-h3 {
  font-size: 37px;
  background:linear-gradient(transparent 80%, #f5d233 0%) ;
  max-width: 720px;
  margin: 0 auto;
}

.service-ttl-h3 {
  font-size: 37px;
  background:linear-gradient(transparent 80%, #f5d233 0%) ;
  max-width: 530px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}

.contents-ttl-h3 {
  font-size: 37px;
  background:linear-gradient(transparent 80%, #f5d233 0%) ;
  max-width: 485px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}

.lesson-ttl-h3 {
  font-size: 37px;
  background:linear-gradient(transparent 80%, #f5d233 0%) ;
  max-width: 765px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}

.voice-ttl-h3 {
  font-size: 37px;
  background:linear-gradient(transparent 80%, #f5d233 0%) ;
  max-width: 620px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}

/*以下 top-wrapper*/

.top-wrapper {
  margin: 0 auto;
  text-align: center;
  color: #2d2d2d;
  background-color: #fbda33;
  height: 735px;
}

.top-desc {
  padding-top: 145px;
}

.top-desc h3 {
  font-size: 30px;
  z-index: 10;
}

.top-desc p {
  padding-top: 85px;
  font-weight: bold;
  font-size: 23px;
  line-height: 1.7;
}

.top-cap {
  font-size: 20px;
}

.top-logo {
  padding-top: 70px;
  margin: auto;
  max-width: 450px;
  width: 100%;
}


/*以下message-wrapper*/
.message-wrapper {
  margin: 0 auto;
  text-align: center;
  color: #2d2d2d;
}

.message-desc {
  margin-top: 25px;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 3;
  padding-bottom: 75px;
}




/*以下service-wrapper*/
.service-wrapper {
  margin: 0 auto;
  text-align: center;
  color: #2d2d2d;
  margin-bottom: 70px;
}

.sec-ttl-desc span {
  font-weight: bold;
  color: #3787b7;
}

.sec-ttl-desc {
  font-size: 17px;
}

.service-cont-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
    flex-wrap: wrap;
}

.service-cont-left img {
  max-width: 450px;
  width: 90%
}

.service-cont-right {
    width: 46%;
    padding-left: 15px;
    text-align: left;
}

.service-num {
  padding-top: 10px;
  font-weight: bold;
  font-size: 34px;
  font-style: italic;
  color: #fff;
  -webkit-text-stroke: 1.3px #2d2d2d;
  background:linear-gradient(transparent 80%, #f5d233 0%) ;
  max-width: 50px;
}

.service-head {
  padding-top: 17px;
  font-size: 24px;
}

.service-cont-right p {
  font-size: 17px;
  padding-top: 17px;
  padding-left: 5px;
  line-height: 1.7;
}

/*以下contents-wrapper*/
.contents-wrapper {
  margin: 0 auto;
  text-align: center;
  color: #2d2d2d;
  padding-bottom: 70px;
}

.pd-icon {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 15px 10px 15px;
  margin-top: 40px;
  margin-left: 1%;
  margin-right: 1%;
}

.pd-icon p {
  padding-top: 10px;
}

.pd-icon img {
  width: 120px;
  height: auto;
}

.contents-course {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 40px 15px 40px 15px;
  position: relative;
  width: 70%;
  margin:auto;
}

.course-ttl {
  padding: 12px 15px 12px 15px;
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  top: -15px;
  left: -5px;
  background: #f5d233;
}



.course-desc img {
  max-width: 75px;
}

.course-name {
  font-size: 25px;
  padding-top: 18px;
}

.course-desc p {
  padding-top: 18px;
  font-size: 15px;
}

.contents-client {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 60px 15px 60px 15px;
  position: relative;
  width: 70%;
  margin: 70px auto 0px;
}

.client-ttl {
  padding: 12px 15px 12px 15px;
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  top: -15px;
  left: -5px;
  background: #f5d233;
}



/*以下form-wrapper*/
.form-wrapper {
  margin: 0 auto;
  text-align: center;
  color: #2d2d2d;
  background: #f5d233;
}

.form-cont {
  padding-top: 30px;
  font-weight: bold;
  font-size: 23px;
  line-height: 1.7;
}

/*以下lesson-wrapper*/
.lesson-wrapper {
  margin: 0 auto;
  text-align: center;
  color: #2d2d2d;
  margin-bottom: 70px;
}

.lesson-cont-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.lesson-cont {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  width: 320px;
  padding: 35px 25px 60px 25px;
  margin-top: 20px;
  margin-left: 1%;
  margin-right: 1%;
}

.lesson-cont img {
  width: 110px;
  height: auto;
}

.lesson-cont h4 {
  padding-top: 20px;
  font-size: 20px;
}

.lesson-cont p {
  padding-top: 20px;
  font-size: 15px;
}

/*以下Voice-wrapper*/
.voice-wrapper {
  margin: 0 auto;
  text-align: center;
  color: #2d2d2d;
  margin-bottom: 70px;
}

.voice-cont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  width: 90%;
  padding: 40px 30px 40px 30px;
  margin-top: 20px;
  margin-left: 1%;
  margin-right: 1%;
  text-align: left;
  margin: auto;
  margin-bottom: 50px;
}

.voice-plofile {
  vertical-align: top;
  width: 27%;
  margin-left: 1%;
  margin-right: 1%;
  text-align: center;
}

.voice-desc {
  vertical-align: top;
  width: 67%;
  margin-left: 1%;
  margin-right: 1%;
}

.voice-desc p {
  padding-top: 15px;
}

/*以下footer*/
footer {
  height: 60px;
  width: 100%;
  background-color: #2d2d2d;
}

.corporate-logo {
  color: #fff;
  text-align: center;
  font-weight: bold;
  line-height: 60px;
  font-size: 20px;
}


/*以下レスポンシブ*/


@media (max-width: 960px) {
.voice-desc {
  width: 100%;
  padding-top: 50px;
  text-align: center;
}

.voice-plofile {
  width: 100%;
}

.service-cont-right {
    padding-top: 20px;
    width: 100%;
    text-align: center;
}

}

@media (max-width: 600px) {
  .contents-client {
    width: 100%;
  }

  .contents-course {
    width: 100%;
  }

  .client-ttl {
    font-size: 17px;
  }

  .course-ttl {
    font-size: 17px;
  }

  .pd-icon img {
    width: 140px;
    height: auto;
  }

  .message-desc {
    margin-top: 25px;
    font-weight: 600;
    font-size: 20px;
    line-height: 2.6;
    padding-bottom: 75px;
  }

  .service-ttl-h3 {
    font-size: 33px;
    width: 100%;
  }
  .voice-ttl-h3 {
    font-size: 30px;
    width: 100%;
  }

  .contents-ttl-h3 {
    font-size: 28px;
    width: 100%;
  }

  .lesson-ttl-h3 {
    font-size: 28px;
    width: 100%;
  }

  .message-ttl-h3 {
    font-size: 28px;
    width: 100%;
  }


  .top-desc {
    padding-top: 90px;
  }

  .top-desc h3 {
    font-size: 26px;
    z-index: 10;
  }


  .top-logo {
    padding: 65px 5px 0 5px;;
    margin: auto;
    max-width: 380px;
    width: 100%;
  }

  .top-desc p {
    padding-top: 70px;
    font-size: 21px;
  }

  .top-cap {
    font-size: 18px;
  }

  .top-wrapper {
    height: 650px;
  }

}
