/*以下共通項目*/
* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: -apple-system, blinkMacSystemFont,
               'Helvetica Neue',
               'Segoe UI',
               YuGothicM,
               YuGothic,
               Meiryo,
               sans-serif;
}

/* Windows */
@font-face {
  font-family: YuGothicM;
  font-weight: normal;
  src: local('YuGothic-Medium'),
       local('Yu Gothic Medium'),
       local('YuGothic-Regular');
}
@font-face {
  font-family: YuGothicM;
  font-weight: bold;
  src: local('YoGothic-Bold'),
       local('Yu Gothic');
}

.container {
  max-width: 1360px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
    display: inline-block;
    padding: 15px 25px;
    margin: 30px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    transition: all .3s;
    border-radius: 5px;
    background-color: #fff;
    color: #2d2d2d;
}

.section-title {
  padding-top: 80px;
  padding-bottom: 50px
}

.message-ttl-h3 {
  font-size: 41px;
  background:linear-gradient(transparent 88%, #f5d233 0%) ;
  max-width: 720px;
  margin: 0 auto;
}

.service-ttl-h3 {
  font-size: 41px;
  background:linear-gradient(transparent 88%, #f5d233 0%) ;
  max-width: 530px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}

.contents-ttl-h3 {
  font-size: 41px;
  background:linear-gradient(transparent 88%, #f5d233 0%) ;
  max-width: 485px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}

.lesson-ttl-h3 {
  font-size: 41px;
  background:linear-gradient(transparent 88%, #f5d233 0%) ;
  max-width: 765px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}

/*以下 top-wrapper*/

.top-wrapper {
  margin: 0 auto;
  text-align: center;
  color: #2d2d2d;
  background-color: #fbda33;
  height: 735px;
}

.top-desc {
  padding-top: 145px;
}

.top-desc h3 {
  font-size: 30px;
  z-index: 10;
}

.top-desc p {
  padding-top: 85px;
  font-weight: bold;
  font-size: 23px;
  line-height: 1.7;
}

.top-cap {
  font-size: 20px;
}

.top-logo {
  padding-top: 70px;
  margin: auto;
  max-width: 450px;
  width: 100%;
}


/*以下message-wrapper*/
.message-wrapper {
  margin: 0 auto;
  text-align: center;
  color: #2d2d2d;
  background: #f1f2e5;
}

.message-desc {
  margin-top: 25px;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 3;
  padding-bottom: 75px;
}

.message-voice {
  position: relative;
  color: rgba(45, 45, 45, 0.8);
  padding-bottom: 40px;
  max-width: 600px;
  margin: 0 auto;
}

.message-deco {
  color: #fff;
  -webkit-text-stroke: 1.3px #2d2d2d;
  font-size: 1.7rem;
  background:linear-gradient(transparent 88%, #f5d233 0%) ;
}

.message-voice:before {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 50px;
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    content: "";
    background: url(/Users/hiroki/Desktop/cocoda!LP/image/quate1.png) no-repeat;
    background-size: contain;
}

.message-voice:after {
    position: absolute;
    display: inline-block;
    top: 145;
    left: 555px;
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    content: "";
    background: url(/Users/hiroki/Desktop/cocoda!LP/image/quate.png) no-repeat;
    background-size: contain;
}

/*以下service-wrapper*/
.service-wrapper {
  margin: 0 auto;
  text-align: center;
  color: #2d2d2d;
  margin-bottom: 70px;
}

.sec-ttl-desc span {
  font-weight: bold;
  color: #3787b7;
}

.sec-ttl-desc {
  font-size: 19px;
}

.service-cont-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
    flex-wrap: wrap;
}

.service-cont-left img {
  width: 90%
}

.service-cont-right {
    width: 650px;
    padding-left: 20px;
    text-align: left;
}

.service-num {
  padding-top: 20px;
  font-weight: bold;
  font-size: 40px;
  font-style: italic;
  color: #fff;
  -webkit-text-stroke: 1.3px #2d2d2d;
  background:linear-gradient(transparent 80%, #f5d233 0%) ;
  max-width: 50px;
}

.service-head {
  padding-top: 20px;
  font-size: 30px;
}

.service-cont-right p {
  font-size: 20px;
  padding-top: 20px;
  padding-left: 5px;
  line-height: 1.7;
}

/*以下contents-wrapper*/
.contents-wrapper {
  margin: 0 auto;
  text-align: center;
  color: #2d2d2d;
  padding-bottom: 70px;
  background-color: #f1f2e5;
}

.pd-icon {
  display: inline-block;
}

/*以下form-wrapper*/
.form-wrapper {
  margin: 0 auto;
  text-align: center;
  color: #2d2d2d;
  background: #f5d233;
}

.form-cont {
  padding-top: 30px;
  font-weight: bold;
  font-size: 23px;
  line-height: 1.7;
}

/*以下lesson-wrapper*/
.lesson-wrapper {
  margin: 0 auto;
  text-align: center;
  color: #2d2d2d;
  margin-bottom: 70px;
}

.lesson-cont-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 70px auto;
}

.lesson-cont {
  width: 280px;
  border: 1px solid #eee;
}

/*以下footer*/
footer {
  height: 60px;
  width: 100%;
  background-color: #2d2d2d;
}

.corporate-logo {
  color: #fff;
  text-align: center;
  font-weight: bold;
  line-height: 60px;
  font-size: 20px;
}
